<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
  <!-- Businesses -->
  <div class="panel-default">
    <div class="panel-heading clearfix">
      <h3 class="panel-title pull-left">
        Businesses
      </h3>
      <div class="input-group pull-right">
        <a href="/business/create"><span class="glyphicon glyphicon-plus"></span> Create Business </a>
        <span class="glyphicon glyphicon-search"></span>
        <input type="text" ng-model="businessFilter">
      </div>
    </div>
    <div class="panel-body">
    <ul class="list-group" ng-repeat="business in businesses">
      <li class="list-group-item">
        <a href="business/detail/{{business._id}}">{{business.name}}</a>
        <a class="pull-right" href="business/detail/{{business._id}}"><span class="glyphicon glyphicon-list-alt"></span> Details</a>
        <a class="pull-right" href="business/orders/{{business._id}}"><span class="glyphicon glyphicon-tasks"></span> Live Orders</a>
      </li>
    </ul>
    </div>
  </div>
</div>
