/*Code from: Gil Fink http://blogs.microsoft.co.il/gilf/2014/08/09/building-a-simple-angularjs-print-directive/*/

@media screen {
    #printSection {
        display: none;
    }
}

@media print {
    body * {
        visibility:hidden;
    }

    #printSection, #printSection * {
        visibility:visible;
    }

    #printSection {
        position:absolute;
        left:0;
        top:0;
    }
}

