<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kr.ac.kaist.mobile.attable" >

    <!-- Internet permission -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".OrderSelect"
            android:label="@string/title_activity_order_select" >
        </activity>
        <activity
            android:name=".OrderOverview"
            android:label="@string/title_activity_order_overview" >
        </activity>
        <activity
            android:name=".PreOrder"
            android:label="@string/title_activity_pre_order" >
        </activity>
    </application>

</manifest>
